* {
    font-family: Helvetica;
    font-weight: 400;
}

heading {
    width: 100%;
    padding: 0;
    margin: 0;
}

heading h1 {
    background-image: url("Media/pattern.webp");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
}

.main {
    position: fixed;
    text-align: center;
}

#main-image {
    float: center;
    border-radius: 10px;
    border: 3px solid black;
}

.brushes, .paint, .frames {
    width: 30%;
    display: inline-block;
}

.brushes {
    align-items: left;
}

.frames {
    align-items: center;
}

.paint {
    align-items: right;
}

.link store {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.main h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.main h3 {
    font-weight: bold;
}

.brushes-heading {
    background-color: mediumspringgreen;
}


.frames-heading {
    background-color: lightcoral;
}

.paint-heading {
    background-color: skyblue;
}